#container{
 background-color: bisque;
 height: 350px;
 width: 500px;
border: 5px solid gray;
padding: 15px;
}


#caption{
    background-color: rgb(190, 76, 76);
color: white;
text-align: center;
height: 50px;
font-size: 35px;

}

#name{
    background-color: white;
    margin-top: 10px;
    height: 40px;
    width: 490px;
    border: none;
}

#email{
    background-color: white;
    margin-top: 10px;
    height: 40px;
    width: 490px;
    border: none;
}
#subject{ background-color: white;
    margin-top: 10px;
    height: 40px;
    width: 490px;
    border: none;
}
#message{ background-color: white;
    margin-top: 10px;
    height: 75px;
    width: 490px;
    border: none;
}
#send{ background-color: yellow;
    margin-top: 10px;
    height: 40px;
    width: 490px;
    }
